body {
    font-size: 14px;
    color: #333;
    
    min-width: 1300px;
}
html{
	height : 100%;
	width : 100%;
	max-height : 100%;
	max-width : 100%;
}
.round {
    border-radius: 50%;
}
.page-size{
    width: 1300px;
    padding: 0 22px;
}